@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@using Blazorise
@using System.Collections;
@using System.Text.Json;
@using Blazorise.DataGrid
@typeparam T
@typeparam TKey where TKey: notnull
@inherits RepositoryBase<T, TKey>

@if (_entity != null)
{
    <Row>
        <Column>
            <InternalEdit Entity="_entity" DisableEdit="DisableEdit"></InternalEdit>
            @if (!DisableEdit)
            {
                <Button Color="Color.Primary" Clicked="@(() => SaveAsync(false))">
                    @if (_isNew)
                    {
                        @:Save
                    }
                    else
                    {
                        @:Update
                    }
                </Button>
                <Button Color="Color.Primary" Clicked="@(() => SaveAsync(true))">
                    @if (_isNew)
                    {
                        @:Save and go
                    }
                    else
                    {
                        @:Update and go
                    }
                </Button>
            }
            @if (AllowDelete)
            {
                <Button Color="Color.Primary" Clicked="@(() => CheckIfYouWantToDelete())">
                    Delete and go
                </Button>
            }
        </Column>
    </Row>
    <Message Feedback="_feedback"></Message>
}