@inherits LayoutComponentBase

<PageTitle>RepositoryFramework.Web.Test.BlazorApp</PageTitle>

<div class="page">
    <main>
        <NavMenu />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
