@namespace RepositoryFramework.Web.Components.Standard

@{
    var tryToGetTheValue = Try.WithDefaultOnCatch(() => GetValue.Invoke()?.ToString());
    var text = tryToGetTheValue.Entity ?? (tryToGetTheValue.Exception?.InnerException ?? tryToGetTheValue.Exception)?.Message ?? string.Empty;
}
<button class="bg-transparent text-dark p-0 border-0"
        @onclick="@((x) => Copy.CopyAsync(text))">
    @text
</button>

@code {
    [Parameter]
    public Func<object?> GetValue { get; set; }
    [Inject]
    public ICopyService Copy { get; set; }
}