@namespace RepositoryFramework.Web.Components.Standard
@using Radzen;
@using Radzen.Blazor

@if (EditParameterBearer != null && PropertyUiSettings?.HasDefault == true && !DisableEdit)
{
    if (WithIcon)
    {
        <span class="@Class">
            @if (!EditParameterBearer.RestorableValues.ContainsKey(BaseProperty.NavigationPath))
            {
                <RadzenButton Click=@(args => SetDefaultAsync()) Icon="star" ButtonStyle="ButtonStyle.Primary" />
            }
            else
            {
                <RadzenButton Click=@(args => Restore()) Icon="arrow_back" ButtonStyle="ButtonStyle.Warning" />
            }
        </span>
    }
    else
    {
        <div class="@Class">
            @if (!EditParameterBearer.RestorableValues.ContainsKey(BaseProperty.NavigationPath))
            {
                <RadzenButton Click=@(args => SetDefaultAsync()) Text="Set default" ButtonStyle="ButtonStyle.Primary" />
            }
            else
            {
                <RadzenButton Click=@(args => Restore()) Text="Restore" ButtonStyle="ButtonStyle.Warning" />
            }
        </div>
    }
}

@code {
    [CascadingParameter]
    public EditParameterBearer EditParameterBearer { get; set; }
    [Parameter]
    public BaseProperty BaseProperty { get; set; }
    [Parameter]
    public PropertyUiSettings PropertyUiSettings { get; set; }
    [Parameter]
    public Action<object?> Update { get; set; }
    [Parameter]
    public bool DisableEdit { get; set; }
    [Parameter]
    public string Class { get; set; }
    private object? _value;
    [Parameter]
    public bool WithIcon { get; set; }
    private object? _restorableValue;
    protected override void OnParametersSet()
    {
        _value = BaseProperty.Value(EditParameterBearer.BaseEntity);
        base.OnParametersSet();
    }
    public async Task SetDefaultAsync()
    {
        object? entity;
        if (PropertyUiSettings!.Default != null)
            entity = PropertyUiSettings!.Default;
        else
        {
            var entityRetrieved = await EditParameterBearer.EntityRetrieverByKey.Invoke(PropertyUiSettings.DefaultKey).NoContext();
            entity = PropertyUiSettings.ValueRetriever(entityRetrieved);
        }
        _restorableValue = _value;
        Update(entity);
        _value = entity;
    }
    public void Restore()
    {
        _value = _restorableValue;
        Update(_restorableValue);
        _restorableValue = null;
    }
}

