@inherits LayoutComponentBase
@namespace RepositoryFramework.Web.Components
@using Blazorise
@using Radzen.Blazor

<PageTitle>@AppSettings!.Name</PageTitle>

<div class="page">
    <main>
        <Layout Margin="Margin.Is1.OnDesktop">
            <LayoutHeader>
                <RepositoryMenu></RepositoryMenu>
            </LayoutHeader>
            <LayoutContent>
                @Body
            </LayoutContent>
            <RadzenNotification />
            <RadzenTooltip />
        </Layout>
    </main>
</div>

@code {
    [Inject]
    public AppSettings? AppSettings { get; set; }
}
