@namespace RepositoryFramework.Web.Components
@using Radzen.Blazor
@inherits LayoutComponentBase

<div class="p-0">
    <RadzenLayout Style="grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-sidebar' 'rz-body rz-sidebar'">
        <RadzenHeader>
            <div class="d-flex justify-content-end align-items-center">
                <RadzenLabel Text="@AppSettings!.Name" />
                <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" Style="margin:0" />
            </div>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
            <RepositoryMenu></RepositoryMenu>
        </RadzenSidebar>
        <RadzenBody class="p-0">
            <div class="p-2">
                @Body
            </div>
            <RadzenNotification />
            <RadzenTooltip />
            <RadzenDialog />
        </RadzenBody>
    </RadzenLayout>
</div>

@code {
    private bool _sidebarExpanded = true;
}
