@namespace RepositoryFramework.Web.Components

<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../../../">@AppSettings.Name</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#nabar_main" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbar_main">
            <div class="container-fluid">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <ul class="navbar-nav">
                    @foreach (var app in AppMenu.Models)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined align-baseline">
                                    home
                                </span>
                                <span>@app.Key</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="@($"../../../../Repository/{app.Value.ModelType.Name}/Query")">
                                        <span>Query</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="@($"../../../../Repository/{app.Value.ModelType.Name}/Create")">
                                        <span>Create</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    [Inject]
    public AppMenu AppMenu { get; set; } = null!;
}