@namespace RepositoryFramework.Web.Components
@using Radzen.Blazor
@inherits LayoutComponentBase

<div class="container-fluid p-0">
    <RepositoryMenu></RepositoryMenu>
    <div class="container-fluid p-1">
        @Body
        <RadzenNotification />
        <div class="tooltip bs-tooltip-top" role="tooltip">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">
            </div>
        </div>
        <RadzenDialog />
    </div>
</div>